@{
    ViewData["Title"] = "AboutUs";
}

<h2>About Us</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Catagolue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h2 style="text-align: center; font-family: 'Oswald', serif; ">About Spacebags</h2>
        <hr />
        <img src="~/img/Bags.png" style="width:600px; height:500px; " />
    </header>
    <main style="text-align: center; font-family: 'Oswald', serif; ">

        <hr />
        <p> Welcome to the home of the original shop website of Spacebags. At Spacebags, we believe travel should be fun. We take pride in making stylish, high quality, and yeah, fun luggage that you can rely on.</p>

        <hr />

        <h3>Our founders</h3>

        <p>In 2005 Dilan Patel put his life savings on the line to start a luggage company in Providence, Rhode Island. His dream was to build a tough suitcase that could sell for a dollar - Spacebags was born.</p>

        <p>
            DISCRIPTION OF Spacebags:
            <ul>
                <li>We supplying premium brands bags of every type.</li>
                <li>Spacebags is positioned as one of the largest shop of selling every brands bag in the world..</li>
                <li>Some new company sells there bags to us for marketing also.</li>
            </ul>
        </p>
    </main>
</body>
</html>